@import url('https://fonts.googleapis.com/css?family=Oswald:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

/*----------------------------------Variables */
:root {
    --blue-color: #5cc6d0;
    --white-color: #fff;
    --black-color: #313337;
    /*Tipografia*/
    --normal: 17px;
    /*Espaciado*/
    --space: 10px;
    /*Box Shadow*/
    --box: 0 0 1px #c1bcbc;
}

p,
label {
    font-size: var(--normal);
}

/*----------------------------------Variables */
html,
body {
    padding: 0;
    margin: 0;
    font-size: var(--normal);
    font-family: 'Dosis',
        sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald',
        sans-serif;
}

.brand_image a {
    color: var(--black-color);
    text-decoration: none;
    font-size: 25px;
}

nav {
    display: flex;
    background-color: var(--blue-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
    font-family: 'Oswald',
        sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

nav li a:hover {
    color: var(--white-color);
}


/*----------------------------------Main section */

.main_section {
    padding: 10%;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
}

/*----------------------------------Section Products */

.products {
    background-image: url("../assets/curve.png");
    height: 95px;
    /*50px*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 15%;
    display: flex;
}

.product {
    padding: var(--space);
    margin-top: -240px;

}

.product .content {
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: var(--box);
    text-align: center;
}

.img_content {
    text-align: center;
}

.main_button {
    background-color: var(--blue-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;

}

.main_button:hover {
    background-color: #5cc6d0;
}

/*----------------------------------Section Benefits */

.benefits {
    display: flex;
    padding: var(--space);

}

.benefit {
    padding: 20px;
    text-align: center;
}

.benefit .content {
    background-color: var(--white-color);

}

.benefit img {
    width: 30%;
}

/*----------------------------------Section Mentions */
.title_mention {
    text-align: center;
}

.mentions {
    padding: var(--space);
    display: flex;
    margin: 50px;
}

.mention {
    padding: var(--space);
    border-radius: 2px;

}

.mention .content {
    background-color: var(--white-color);
    text-align: center;
    box-shadow: var(--box);
}

.mention .content img {
    width: 100%;
}

.description {
    padding: var(--space);
}

.description h1 {
    margin-bottom: -10px;

}

/*----------------------------------Section venta */

.page_modulo_pago {
    margin: 100px;
}

.modulo_pago {
    background-color: var(--white-color);
    box-shadow: var(--box);
    padding: var(--space);
}

.modulo_pago_images {
    max-width: 150px;
    text-align: center;
    width: 100%;
    margin: auto;
}

.data {
    margin-top: var(--space);
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #adadad;
    box-sizing: border-box
}

.modulo_pago .main_button {
    margin-top: 10px;
}

/*----------------------------------Section Footer */

footer {
    display: flex;
    justify-content: space-between;
    font-size: var(--normal);
    background-color: var(--blue-color);
    padding: var(--space);
    color: var(--white-color);
}

/*----------------------------------Section Descripción de producto */

.image img {
    width: 100%;
    border: 1px solid rgb(226, 226, 226);
    -webkit-box-shadow: inset 0 0 0 1px var(--black-color);
    -moz-box-shadow: inset 0 0 0 1px var(--black-color);
    box-shadow: inset 0 0 0 1px var(--black-color);
}

.d_product {
    padding: 15px;
}

.page_product .container .row {
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

.d_product h3 {
    text-transform: uppercase;
    text-shadow: 1px 1px #fff;
}

.d_product p {
    text-align: justify;
    font-size: var(--normal);
    line-height: 1.5;
}